extends layout
block content 
    .block
        .container
            .row.justify-content-center
                .col-md-8
                    h1.text-center=article.title
                    p.text-center=article.content
