extends layout
block content
    script(src="/scripts/add_update_article/index.js") 
    .container.mt-5
      .row.justify-content-center
        .col-md-8
          form#add-update-form
            .form-group.mb-3
              label(for="title") Title:
              input#title.form-control.input-title(type="text", name="title", value=article ? article.title : "", required)
            .form-group.mb-3
              label(for="content") Content:
              textarea#content.form-control.input-content(name="content",  rows="10", required)=article ? article.content : ""
            button.btn.btn-primary(type="submit")=type