extends layout
block content
  .container
    .row.justify-content-center
      .col-md-8
        .row
          .col-md-4.mb-4
            .card
              .card-body.text-center.p-4
                a(href="/create-article").btn.btn-primary.mb-3.mt-3 &plus; Add new Article
                p Click here to add a new article
        .row
          each article in articles
            .col-md-4.mb-4
              .card
                .card-body
                  h5.card-title #{article.title}
                  p.card-text #{article.content.substring(0, 100)}...
                  a.btn.btn-primary(href=`/articles/${article.id}`) Read More
